.toastBL {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background: #333;
    border-radius: 5px;
    padding: 0 15px;
  }

@media only screen and (max-width: 767px) {
    .toastBL {
        margin: 10px;
      }
}
